<!DOCTYPE html>
<html lang="de" class="no-js">
  <head>
    {% block head_inner -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {% block css_includes_header -%}
    <link href="{{ asset('bundles/sctiengenwebsite/css/fonts.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/shariff.complete.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/main.less.css') }}" rel="stylesheet">
    {%- endblock %}
    {% block js_includes_header -%}
    <script src="{{ asset('bundles/sctiengenwebsite/js/modernizr-2.8.3.min.js') }}"></script>
    {%- endblock %}
    {%- endblock %}
  </head>
  <body>
    <!--[if lt IE 9]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
    <div class="container">
      {% block sidebar_left %}{% endblock %}
      <div id="page">
        {% block page_header -%}
        <div id="page_header">
          {% block page_header_inner -%}
          <img id="logo" src="{{ asset('bundles/sctiengenwebsite/images/sct-vereinswappen.png') }}" alt="SC Tiengen" width="148" height="148">
          <img id="logo-50" src="{{ asset('bundles/sctiengenwebsite/images/50-jahre-sc-tiengen-logo.png') }}" alt="50 Jahre SC Tiengen" width="213" height="56">
          {%- endblock %}
        </div>
        {%- endblock %}
        {% block page_main -%}
        <div id="page_main">
          {% block page_main_inner -%}{%- endblock %}
        </div>
        {%- endblock %}
      </div>
    </div>
    {% block footer -%}
    <div id="page_footer">
      <div class="container">
      {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
        {{ render(controller('SCTiengenWebSiteBundle:Security:login')) }}
      {% endif %}
        <div class="item text-muted">© SC Freiburg-Tiengen e.V.</div>
        {% set menu = knp_menu_get('nav-footer') %}
        {% if menu.hasChildren %}
          {% block footer_inner -%}
            {% for item in menu.children %}
        <div class="item"><a href="{{ item.uri }}">{{ item.label }}</a></div>
            {%- endfor %}
          {%- endblock %}
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <div class="item"><a href="{{ path('logout') }}">Logout</a></div>
        {% else %}
        <div class="item"><a href="#" class="trigger-toggle-login-box">Login</a></div>
        {% endif %}
        <div class="shariff"></div>
      </div>
    </div>
    {%- endblock %}
    {% block js_includes_footer -%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/sctiengenwebsite/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/sctiengenwebsite/js/shariff.min.js') }}"></script>
    <script src="{{ asset('bundles/sctiengenwebsite/js/main.js') }}"></script>
    {%- endblock %}
  </body>
</html>

