<!DOCTYPE html>
<html lang="de" class="no-js">
  <head>
    {% block head_inner -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {% block css_includes_header -%}
    <link href="{{ asset('bundles/sctiengenwebsite/css/fonts.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/shariff-1.14.0.complete.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sctiengenwebsite/css/main.less.css') }}" rel="stylesheet">
    {%- endblock %}
    {% block js_includes_header -%}
    <script src="{{ asset('bundles/sctiengenwebsite/js/modernizr-2.8.3.min.js') }}"></script>
    {%- endblock %}
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png"/>
    <meta name="DC.creator" content="SC Freiburg-Tiengen e.V."/>
    {%- endblock %}
  </head>
  <body>
    <!--[if lt IE 9]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
    <div class="container">
      {% block sidebar_left %}{% endblock %}
      <div id="page">
        {% block page_header -%}
        <div id="page_header">
          {% block page_header_inner -%}
          <a href="{{ path('sctiengen_website_homepage') }}">
            <img id="logo" src="{{ asset('bundles/sctiengenwebsite/images/sct-vereinswappen.png') }}" alt="Sport-Club Freiburg-Tiengen" width="148" height="148"/>
          </a>
          <a href="{{ path('/cms/routes/verein/geschichte') }}">
            <img id="logo-50" src="{{ asset('bundles/sctiengenwebsite/images/50-jahre-sc-tiengen-logo.png') }}" alt="50 Jahre Sport-Club Freiburg-Tiengen" width="213" height="56"/>
          </a>
          {%- endblock %}
        </div>
        {%- endblock %}
        {% block page_main -%}
        <div id="page_main">
          {% block page_main_inner -%}{%- endblock %}
        </div>
        {%- endblock %}
      </div>
    </div>
    {% block footer -%}
    <div id="page_footer">
      <div class="container">
      {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
        {{ render(controller('SCTiengenWebSiteBundle:Security:login')) }}
      {% endif %}
        <div class="item text-muted">© SC Freiburg-Tiengen e.V.</div>
        {% set menu = knp_menu_get('nav-footer') %}
        {% if menu.hasChildren %}
          {% block footer_inner -%}
            {% for item in menu.children %}
        <div class="item"><a href="{{ item.uri }}">{{ item.label }}</a></div>
            {%- endfor %}
          {%- endblock %}
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <div class="item"><a href="{{ path('logout') }}">Logout</a></div>
        {% else %}
        <div class="item"><a href="#" class="trigger-toggle-login-box">Login</a></div>
        {% endif %}
        <div class="shariff" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;,&quot;whatsapp&quot;]"></div>
      </div>
    </div>
    {%- endblock %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//a.sctiengen.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//a.sctiengen.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
    {% block js_includes_footer -%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ asset('bundles/sctiengenwebsite/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/sctiengenwebsite/js/shariff-1.14.0.min.js') }}"></script>
    <script src="{{ asset('bundles/sctiengenwebsite/js/iscroll-5.1.3.js') }}"></script>
    <script src="{{ asset('bundles/sctiengenwebsite/js/main.js') }}"></script>
    {%- endblock %}
  </body>
</html>

