<!--
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8">
  <div class="btn-group trigger-event-category-filter" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off" checked data-category="heimspiele"/>Heimspiele
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off" checked data-category="training"/>Training
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off" checked data-category="veranstaltungen"/>Veranstaltungen
    </label>
  </div>
</div>
-->
<div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-5">
  <div class="scroll-wrapper">
    <ol class="list-group">
    {% for event in events %}
      {% set day = event.getStartDateTime()|date("Y-m-d") %}
      {% if prevDay|default('') != day %}
      <li class="list-group-item event-day">
        <time datetime="{{ day }}">{{ event.getStartDateTime()|localizeddate('none', 'none', 'de_DE', null, 'eeee, dd. MMMM yyyy') }}</time>
      </li>
      {% endif %}
      {% set calendarTitle = event.getCalendar().getTitle() %}
      <li class="list-group-item event event-category-{{ calendarTitle|lower }}">
        <div class="category">{{ calendarTitle }}</div>
        <div class="title">{{ event.getTitle() }}</div>
        <div class="desc"></div>
        <div class="time">
          <time class="start" datetime="{{ event.getStartDateTime()|date("c") }}">{{ event.getStartDateTime()|date("H:i") }}</time>
           - 
          <time class="end" datetime="{{ event.getEndDateTime()|date("c") }}">{{ event.getEndDateTime()|date("H:i") }} Uhr</time>
        </div>
      </li>
      {% set prevDay = day %}
    {% endfor %}
    </ol>
  </div>
</div>
